<ion-pane  on-swipe-right="onSwipeRight()" >
	<ion-header-bar class="panel-header-1 marginTop40">
		<div class="logo">
			<img src="img/logo_header.png"/>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="form-content top-space">
				<div class="walkie-hi"><img src="img/walkie-hi.png"></div>
				<h1 class="yellow-color marginTop24">{{$root.nickName}}</h1>
				<h3 class="marginTop0">lets start an healthy life</h3>
				<button class="button-big-yellow marginTop24" ui-sref="newWalk">Create New Walk</button>
		</div>
	</ion-content>

	<ion-footer-bar>
	</ion-footer-bar>

</ion-pane>