<ion-pane  on-swipe-right="onSwipeRight()" >


	<ion-header-bar class="panel-header-1 marginTop40">
		<div class="logo">
			<img src="img/logo_header.png"/>
		</div>

		<div class="title-bar">
			<div class="back" ui-sref="menu">Back</div>
			Join a Walk
		</div>
	</ion-header-bar>

	<ion-content>
		
		<div class="panel-join-a-walk-list"  data-ng-repeat="intivation in invites track by $index" data-ng-if="!isFirstTime()">
			<label class="title">{{intivation.inviterName}}</label>
			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48_blue.png"/></span>
					<h1>{{invitation.dateOfWalk | moment:'ddd D, MMM YYYY'}}</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48_blue.png"/></span>
					<h1>{{invitation.dateOfWalk | moment:'hh:mm a'}}</h1>
				</label>
			</div>

			<div class="panel-single-row-full marginTop18">
				<label>People Walking with me</label>
			</div>

			<div class="image-list">
				<div data-ng-repeat="participant in intivation.participants track by $index">
				 <img ng-src="img/{{participant.profilePicture}}">
				</div>
			</div>

			<div class="status">
				<button ng-if="intivation.status != 1" data-ng-click="changeStatus(intivation.walkId,1)">Accept</button>
				<button ng-if="intivation.status != 2" data-ng-click="changeStatus(intivation.walkId,2)">May be</button>
				<button ng-if="intivation.status != 3" data-ng-click="changeStatus(intivation.walkId,3)">Decline</button>
			</div>

		</div>

		
	</ion-content>

</ion-pane>
