<ion-pane  on-swipe-right="onSwipeRight()" data-ng-controller = "JoinCtrl" >


	<ion-header-bar class="panel-header-1 marginTop40">
		<div class="logo">
			<img src="img/logo_header.png"/>
		</div>

		<div class="title-bar">
			<div class="back" ui-sref="menu">Back</div>
			Join a Walk
		</div>
	</ion-header-bar>

	<ion-content>
		
		<div class="panel-join-a-walk-list"  data-ng-repeat="joinWalks in invites track by $index" data-ng-if="!isFirstTime()">
			<label class="title">{{joinWalks.inviter}}</label>
			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48_blue.png"/></span>
					<h1>{{joinWalks.date}}</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48_blue.png"/></span>
					<h1>{{joinWalks.time}}</h1>
				</label>
			</div>

			<div class="panel-single-row-full marginTop18">
				<label>People Walking with me</label>
			</div>

			<div class="image-list">
				<div data-ng-repeat="person in joinWalks.participants track by $index">
				 <img src="img/{{person.picture}}">
				</div>
			</div>

			<div class="status">
				<button data-ng-click="changeStatus(joinWalks.walkId,'Joined')">Accept</button>
				<button data-ng-click="changeStatus(joinWalks.walkId,'Maybe')">May be</button>
				<button data-ng-click="changeStatus(joinWalks.walkId,'Declined')">Decline</button>
			</div>

		</div>

		
	</ion-content>

</ion-pane>
