<ion-pane  on-swipe-right="onSwipeRight()" >
	<ion-header-bar class="panel-header-1 marginTop40">
		<div class="logo">
			<img src="img/logo_header.png"/>
		</div>
	</ion-header-bar>
	<ion-content class="main-header-space">
		<div class="panel-my-next-walk"  data-ng-if="isNextWalk()">
			<!-- bind the next walk object -->

			<div class="panel-title">
				<label class="title" >My Next Walk</label>
				<button ng-if="isStartWalking" ui-sref="walkNow">Start Walking</button>
			</div>

			<div>
				<label>
					<span class="icon"><img src="img/icon_calendar_48.png"/></span>
					<h1>{{myNextWalk.date}}</h1>
				</label>
				<label>
					<span class="icon"><img src="img/icon_clock_48.png"/></span>
					<h1>{{myNextWalk.time}}</h1>
				</label>
			</div>


			<div class="panel-single-row-full marginTop24">				
				<label>walking with me</label>
			</div>

			<!-- TODO logic -->

			<div class="image-list">				
				<div data-ng-repeat = "person in myNextWalk.participants track by $index">
		  			<img ng-src="img/{{person.profilePicture}}">
		  		</div>				
								
			</div>

		</div>
		<!--Closing Panel My Next Walk-->


		<div class="panel-invitations">
			<label class="title">Walking Invitations</label>
		</div>


		<ion-scroll zooming="true" direction="x" style="width: 100%; height: 100px; background: #ffd800;">
			<div class="walking-list" >
				<div data-ng-repeat="invitation in myInvitations track by $index" ui-sref="join">
					<table >
						<tr>
							
							<td class="image"><img ng-src="img/{{invitation.profilePicture}}"></td>
							<td class="text"  >
									<h2> with {{invitation.inviterName}}<h2>
									<h3>{{invitation.dateOfWalk | moment:'ddd D, MMM YYYY'}}<br/>{{invitation.dateOfWalk | moment:'hh:mm a'}}</h3>									
							</td>

						</tr>
						<tr >
							<td class="image"><img src="img/icon_wall_small_white.png"></td>
							<td class="text">
								<h3 class="marginTop6">{{invitation.participantCount-1}} friends walk <br>with you</h3>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</ion-scroll>
		<!--Closing Walking Invitation-->

	</ion-content>


	<ion-footer-bar>
		<div class="panel-footer-2" >

			<!-- bind the next walk object -->

			<div class="form-content">
			 	<button class="button-big-blue" ui-sref="newWalk" ion-nav-animation="slide-in-up">Create new walk</button>
			</div>

			<div class="panel-history" data-ng-if="!isFirstTime()"  >
					<div data-ng-repeat="histry in historyWalk track by $index" data-month="{{histry.month}}">
						<div data-ng-repeat="_range in range((histry.countWalks)*1) track by $index"></div>
					</div>
					<a ui-sref="history">More..</a>
			</div> 

		</div>

	</ion-footer-bar>

</ion-pane>