<ion-modal-view class="panel-popup">

    <ion-header-bar>
        <input ng-click="modal.hide()" type="button" class="close-btn">
    </ion-header-bar>

    <ion-content>
        <div class="panel-walkies" ng-if="panelType == 0">
            <div>Walkies</div>
            <div>Send to {{sendWalkiesTo.nickName}}</div>
            <div>
                <div ng-click="sendWalkie('WALKIE_001')" class="walkies-button"><img src="img/icon_walkie1.png"></div>
                <div ng-click="sendWalkie('WALKIE_001')" class="walkies-button"><img src="img/icon_walkie2.png"></div>
                <div ng-click="sendWalkie('WALKIE_001')" class="walkies-button"><img src="img/icon_walkie3.png"></div>
                <div ng-click="sendWalkie('WALKIE_001')" class="walkies-button"><img src="img/icon_walkie4.png"></div>
            </div>
            <div class="clear-fix"></div>
        </div>

        <div class="panel-images" ng-if="panelType == 1">
            <img ng-src="http://dev.juztmove.com/dev/walkwithme/uploads/{{picId}}">
        </div>
    </ion-content>
</ion-modal-view>

<!--<img ng-src="{{lastPhoto}}" style="max-width: 100%">-->



